{% extends 'mealflow/base.html' %}
{% load static %}

{% block title %}
MealFlow | My Recipes
{% endblock %}

{% block content %}

<section>
  <header class="page-intro">
    <h1>My Recipes</h1>

    {% if user.is_authenticated %}
    <p>
      Recieps saved and created by {{ user.username }}.
    </p>
    {% endif %}

    <div class="btn-container">
      <a href="{% url 'create_recipe' %}" class="btn btn-primary">
        Create recipe
      </a>
    </div>
  </header>

  <section class="recipe-grid-section">
    <h2 id="recipe-grid-heading">Your saved Recipes</h2>

    {% if saved_recipes %}
    <div class="recipe-grid">
      {% for recipe in saved_recipes %}
      <a href="{% url 'recipe_detail' recipe.id %}" class="recipe-card">
        <div class="recipe-card-image">
          <img src="{% static recipe.image_path %}" alt="{{ recipe.title }}">
        </div>

        <div class="recipe-card-content">
          <h3 class="recipe-card-title">{{ recipe.title }}</h3>

          <p class="recipe-card-category">
            {{ recipe.get_meal_type_display }}
            ·
            {{ recipe.category.name }}
          </p>
        </div>
      </a>
      {% endfor %}
    </div>
    {% else %}
    <p class="empty-recipes-message">You have not saved any recipes yet.</p>
    {% endif %}
  </section>

  <section class="recipe-grid-section">
    <h2 id="recipe-grid-heading">Your created Recipes</h2>

    {% if created_recipes %}
    <div class="recipe-grid">
      {% for recipe in created_recipes %}
      <a href="{% url 'recipe_detail' recipe.id %}" class="recipe-card">
        <div class="recipe-card-image">
          <img src="{% static recipe.image_path %}" alt="{{ recipe.title }}">
        </div>

        <div class="recipe-card-content">
          <h3 class="recipe-card-title">{{ recipe.title }}</h3>

          <p class="recipe-card-category">
            {{ recipe.get_meal_type_display }}
            ·
            {{ recipe.category.name }}
          </p>
        </div>
      </a>
      {% endfor %}
    </div>
    {% else %}
    <p class="empty-recipes-message">You have not created any recipes yet.</p>
    {% endif %}
  </section>

</section>

{% endblock %}